<div class="row">
    <div class="col-xs-6">
        <h1>Manage Apps</h1>
    </div>
    <div class="col-xs-6">
        <div class="btn-group pull-right" style="margin-top:25px">
            <button type="button" class="btn btn-default">{{#linkTo "apps.new"}}<span
                    class="glyphicon glyphicon-plus"></span> New app{{/linkTo}}</button>
        </div>
    </div>
</div>

<p></p>

{{outlet}}

<div class="row">
{{#each}}
    <div class="col-sm-6 col-md-3 app-overview">
        <div class="thumbnail">
            {{#if thumbnail}}
                <img src="{{unbound thumbnail}}">
            {{else}}
                <img src="images/app-placeholder-300x200.png">
            {{/if}}
            <div class="caption">
                <div class="row">
                    <div class="col-xs-8">
                        <b>{{name}}</b>
                    </div>
                    <div class="col-xs-4">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-xs">
                                <a {{bindAttr href="url"}} target="_blank"><span
                                        class="glyphicon glyphicon-play"></span></a>
                            </button>
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
</div>