<div class="row">
    <div class="col-xs-6">
        <h1>Show Vhosts</h1>
    </div>
    <div class="col-xs-6">
        <!--
        <div class="btn-group pull-right" style="margin-top:25px">
            <span class="glyphicon glyphicon-plus"></span>
            {{input type="text" id="new-vhost" placeholder="www.yourdomain.tld" value=newName action="create"}}
        </div>
        -->
    </div>
</div>

<br>

<table class="table table-hover">
    <thead>
        <tr>
        	<th>Name</th>
            <th>Container</th>
            <th>IP/Port</th>
            <th>AppBase</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
    {{#each}}
        <tr>
            <td>
                {{#if isEditing}}
                    {{input class="edit" value=name focus-out="acceptChanges" insert-newline="acceptChanges"}}
                {{else}}
                    {{name}}
                {{/if}}
            </td>
            <td>{{containerName}}</td>
            <td>{{address}}::{{port}}</td>
            <td>{{appBase}}</td>
            <td width="1%" nowrap="nowrap"><small>{{id}}</small></td>
        </tr>
    {{/each}}
    </tbody>
</table>